<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
  </ng-container>

  <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef>Skills</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select
          (selectionChange)="starData($event.value, element)"
          multiple
        >
          <mat-option *ngFor="let skill of SkillList" [value]="skill">
            {{ skill }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button (click)="toggleDarkTheme()">Toggle</button>
